node_modules/
dist/
*.log
*.env
*.tsbuildinfo

.vscode/
.idea/
.DS_Store

*.json
!package.json
!package-lock.json
!tsconfig.json
!src/data/meli-users.json
!src/data/meli-countries.json

npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
